ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding-top: 20px;
}


main {
}


#header {
  background-color: blue;
  grid-column: 1 / 3;
}

#status-message {
  background-color: yellow;
  grid-column: 1 / 3;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#trip-information {
  background-color: pink;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


#all-trips {
  padding: 3em;
  grid-column: 1 / 2;
}


#tripDetails {
  grid-column: 2 / 3;
  background-color: cornflowerblue;
}

#reservations {
  background-color: green;
}

#footer {
  background-color: purple;
  height: 12em;
}
