header {
  background-image: url(mountain-range.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.list-group-item {
  font-size: 2rem;
}

.card {
  padding-left: 2rem;
}
