body {
    font-family: sans-serif;
    background-color: #184d65;
    color: whitesmoke;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

a {
    cursor: pointer;
    color: whitesmoke; }

a:hover,a.hover {
    text-decoration: underline;
}